* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F1F1F1;
  overflow-x: hidden;
}

.bodyHome {
  background: url('../images/audience.png');
  background-repeat: no-repeat;
  overflow: hidden;
}

.bodyHome .container {
  color: #2A0F46;
  text-align: center;
}

.bodyHome h1 {
  margin-top: 10%;
  font-weight: bold;
  line-height: 150px;
  transform: rotate(-8deg);
}

.countdown li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.countdown li span {
  display: block;
  font-size: 4.5rem;
}

.bodyHome button {
  background: transparent;
  border: 5px #2A0F46 solid;
  padding: 10px;
  color: #2A0F46;
  transition: 0.7s;
  font-size: 20px;
  cursor: pointer;
}

.bodyHome button:hover {
  background: #2A0F46;
  color: white;
}

.bodyHome h1 {
  font-size: 15rem;
  margin-bottom: 10%;
}

.bodyHome .ombrage {
  text-shadow: 0px 0px 10px black;
}

.navInovia {
  background-color:rgba(69, 12, 73, 1)
}

.scrolled{
  background-color: #450C49;
  color:white;
  transition: 0.3s;
}

.navbar-nav .nav-item {
  font-size: 20px;
  padding-right: 40px;
}

.navbar-nav {
  margin-right: 350px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.navbar-brand {
  margin-left: 100px;
}

.nav-tabs .nav-item {
  width: 50%;
  border: 0px transparent solid;
  border-radius: 0px;
  background: #450c49;
  text-align: center;
  font-size: 20px;
  color: white;
  height: 80px;
}

.nav-tabs .nav-link {
  border: 0px transparent solid;
  border-radius: 0px;
  padding-top: 2%;
  color: white;
  font-family: Oswald, sans-serif;
}

.nav-tabs .nav-link:hover {
  border: 0px transparent solid;
  border-radius: 0px;
  width: 100%;
  height: 100%;
}

.nav-tabs .nav-link.active {
  background: #450c49;
  border: 0px transparent solid;
  border-radius: 0px;
  width: 100%;
  height: 100%;
  color: orange;
}

header {
  background-image: url('../images/drone.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.containerSite {
  padding-top: 3%;
  min-height: 1000px;

}

.btn-link {
  color: #595b5b;
  font-size: 20px;
  text-align: left;
  margin-left: 5%;
  white-space: normal;
}

.btn-link:hover {
  text-decoration: none;
}

.btn-link:active {
  text-decoration: none;
}

.btn-link:focus {
  text-decoration: none;
}

.card-header {
  background: #d8d6d6;
  border-radius: 20px;
}
.card-header:hover {
  background: #e9e7e7;
  border-radius: 20px;
  cursor: pointer;
}

.card-header:first-child {
  border: 0px transparent solid;
  border-radius: 0px;
}

.card-body {
  background: #e5e5e5;
  color: #595b5b;

      box-shadow: 1px 1px 15px #D8D6D6;
}

.time {
  font-size: 16px;
  ;
  color: #450C49;
  border: 2px #450C49 solid;
  padding: 3px;
  border-radius: 10px;
}

.programmeList {

    box-shadow: 50px 40px 115px rgba(0, 0, 0, 0.2);
}

.date {
  color: white;
  font-size: 14px;
}

.programmeList{
    margin-bottom: 200px;
}

.partenaireLogo{
    background: #450c49;
    height: 150px;
    width: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 0.5s;
}

.partenaireLogo:hover{
    transform: scale(1.05);
    background: #57245b;
}

.barre{
    border-right: 2px black solid;
}

.adresseAll{
    margin-top: 20px;
    text-align: center;
}

.navbar-light .navbar-nav .navActive{
    color: #ed8e12;
}


@media screen and (min-width: 720px) and (max-width: 1000px) {
    .bodyHome h1{
        font-size: 10rem;
        line-height: 100px;
    }
}

@media screen and (min-width: 321px) and (max-width: 719px) {
    .bodyHome h1{
        font-size: 5rem;
        line-height: 50px;
    }

    .countdown li span {
  display: block;
  font-size: 2.5rem;
}

.countdown li {
  display: inline-block;
  font-size: 1.4rem;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}


}

@media screen and (max-width: 320px) {
    .bodyHome h1{
        font-size: 5rem;
        line-height: 50px;
    }

    .countdown li span {
  display: block;
  font-size: 2rem;
}

.countdown li {
  display: inline-block;
  font-size: 1.2rem;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}


}
#progTab{
  position: absolute;
  width:1200px;
  top:370px;
}
#footer{
  background-color: #450C49;
}
.imgFoot img{
  width:100%;
}
#makeBy{
  text-align: center;
  color: white;
}
#makeBy a{
  text-align: center;
  color: orange;
}
.categoriesFooter{
  text-align: center;
  color:white;
}
#adresseFoot{
  color:white;
}

 #triangle-bottomright { width: 60%;  height: 0px; border-bottom: 400px solid #450C49; border-right: 300px solid transparent; }
 
 #outilEnMain{
      background-image: url('../images/audience.jpg');
      margin-bottom: 20px;
      padding-left: 0px;
      padding-right: 0px;
      height: 400px;
 }

 
 
@media screen and (max-width: 768px) {
    #triangle-bottomright { 
        background: #450C49;
        width: 100%;
        height: 40%;
        border-bottom: none;
        border-right: none;
    }
}